In [1]:
import pandas as pd
import numpy as np
import sklearn as skl
import os
import matplotlib.pyplot as plt

In [2]:
os.chdir('C:\\Users\\royal\\Downloads\\Compressed\\f992303a-d-BW2017_2')

In [3]:
os.listdir()

['sample_submissions.csv', 'test.csv', 'train.csv']

In [4]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [5]:
train[0:3]

,transaction_id,num_var_1,num_var_2,num_var_3,num_var_4,num_var_5,num_var_6,num_var_7,cat_var_1,cat_var_2,...,cat_var_34,cat_var_35,cat_var_36,cat_var_37,cat_var_38,cat_var_39,cat_var_40,cat_var_41,cat_var_42,target
0,id_11,2.302632e-08,0.040182,0.0,1.800000e-07,2.302632e-08,2.368421e-08,1.115205e-08,NaN,ce,...,0,0,0,0,0,0,0,0,0,0
1,id_33,7.965789e-06,0.157872,0.0,2.105000e-06,2.769737e-07,7.965789e-06,2.433058e-06,da,tn,...,0,0,0,0,0,0,0,0,0,0
2,id_51,7.828947e-08,0.089140,0.0,3.550000e-07,4.671053e-08,1.052632e-07,4.276014e-07,gf,ce,...,0,0,0,0,0,0,0,0,0,0

In [6]:
train_id=train['transaction_id']
test_id=test['transaction_id']

In [7]:
train_target=train['target']

In [8]:
print ((train['target'] == 1).sum())
print ((train['target'] == 0).sum())

37368
311610

In [9]:
311610//37368+311610

311618

In [12]:
sub = pd.DataFrame({'transaction_id': test_id, 'return': 0})
filename = 'sub_returns.csv'
sub.to_csv(filename, index=False)

from sklearn.svm import SVC
clf=SVC(probability=True)
clf.fit(X,Y)
print clf.predict_proba(W) #No error

In [38]:
#train[['cat_var_1','cat_var_3','cat_var_8']].isnull().sum()
test_1.isnull().sum()

num_var_1     0
num_var_2     0
num_var_3     0
num_var_4     0
num_var_5     0
num_var_6     0
num_var_7     0
cat_var_1     0
cat_var_2     0
cat_var_3     0
cat_var_4     0
cat_var_5     0
cat_var_6     0
cat_var_7     0
cat_var_8     0
cat_var_9     0
cat_var_10    0
cat_var_11    0
cat_var_12    0
cat_var_13    0
cat_var_14    0
cat_var_15    0
cat_var_16    0
cat_var_17    0
cat_var_18    0
cat_var_19    0
cat_var_20    0
cat_var_21    0
cat_var_22    0
cat_var_23    0
cat_var_24    0
cat_var_25    0
cat_var_26    0
cat_var_27    0
cat_var_28    0
cat_var_29    0
cat_var_30    0
cat_var_31    0
cat_var_32    0
cat_var_33    0
cat_var_34    0
cat_var_35    0
cat_var_36    0
cat_var_37    0
cat_var_38    0
cat_var_39    0
cat_var_40    0
cat_var_41    0
cat_var_42    0
dtype: int64

In [11]:
print(len(set(train['cat_var_1'])))
print(len(set(train['cat_var_3'])))
print(len(set(train['cat_var_8'])))

535
617
463

In [12]:
26*26

676

In [24]:
train['cat_var_1'].fillna('0',inplace=True)
train['cat_var_3'].fillna('0',inplace=True)
train['cat_var_8'].fillna('0',inplace=True)

test['cat_var_1'].fillna('0',inplace=True)
test['cat_var_3'].fillna('0',inplace=True)
test['cat_var_6'].fillna('0',inplace=True)
test['cat_var_8'].fillna('0',inplace=True)

In [34]:
#train_1=train.drop(['transaction_id','target'],axis=1)
test_1=test.drop(['transaction_id'],axis=1)

In [15]:
from sklearn.svm import SVC
clf=SVC(probability=True)

In [16]:
from string import ascii_lowercase

In [17]:
ls={}
for k,i in enumerate(ascii_lowercase):
    for v,j in enumerate(ascii_lowercase):
        ls[i+j]=int(str(k)+str(v))

In [44]:
test_1.replace({'cat_var_3':ls},inplace=True)

In [45]:
for i in range(4,20):
    test_1.replace({'cat_var_'+str(i):ls},inplace=True)

TypeError: Cannot compare types 'ndarray(dtype=int64)' and 'str'

In [46]:
test_1[0:5]

,num_var_1,num_var_2,num_var_3,num_var_4,num_var_5,num_var_6,num_var_7,cat_var_1,cat_var_2,cat_var_3,...,cat_var_33,cat_var_34,cat_var_35,cat_var_36,cat_var_37,cat_var_38,cat_var_39,cat_var_40,cat_var_41,cat_var_42
0,4.736842e-07,0.162737,0.0,2.105000e-06,2.769737e-07,4.828947e-07,1.300010e-07,30,1913,619,...,0,0,0,0,0,0,0,0,0,0
1,6.578947e-08,0.086391,0.0,7.500000e-07,1.315789e-07,9.868421e-08,3.186300e-08,1520,24,0,...,0,0,0,0,0,0,0,0,0,0
2,1.585526e-07,0.159987,0.0,2.105000e-06,2.769737e-07,1.585526e-07,4.715724e-08,30,1913,1625,...,0,0,0,0,0,0,0,0,0,0
3,8.552632e-08,0.088083,0.0,7.500000e-07,8.552632e-08,9.868421e-08,4.142190e-08,1520,24,423,...,0,0,0,0,0,0,0,0,0,0
4,1.144737e-07,0.089563,0.0,3.550000e-07,4.671053e-08,4.407895e-08,1.452953e-07,65,24,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
clf.fit(train_1[:10000],train_target[:10000])

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=True, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [49]:
#test_1[0:5]
pred=clf.predict_proba(test_1)

In [50]:
[i[1] for i in pred[:3]]

array([[ 0.88698138,  0.11301862],
       [ 0.88698139,  0.11301861],
       [ 0.88698139,  0.11301861],
       ...,
       [ 0.88698139,  0.11301861],
       [ 0.88698139,  0.11301861],
       [ 0.88698139,  0.11301861]])

In [55]:
pred[:3]

array([[ 0.88698138,  0.11301862],
       [ 0.88698139,  0.11301861],
       [ 0.88698139,  0.11301861]])

In [56]:

pred_1=[i[1] for i in pred]

In [59]:
sub = pd.DataFrame({'transaction_id': test_id,'target': pred_1})
filename = 'sub_returns.csv'
sub.to_csv(filename, index=False)

In [60]:
df=pd.read_csv('sub_returns.csv')
columnsTitles=["transaction_id","target"]
df=df.reindex(columns=columnsTitles)
filename = 'sub_returns1.csv'
df.to_csv(filename, index=False)